@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

h1.fancy-header {
    margin: 50px auto;
    width: 500px;
}
h2 {
    color: olive;
}
body {
    background-image: url("../img/pexels-fwstudio-129731.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /*background-color: darkgrey;*/
    font-family: "Roboto Light", serif;
}

ul > li {
    list-style: square;
}
td {
    font-size: x-large;
    padding: 5px 10px;
}
tr {
    font-size: x-large;
}
a:hover{
    color: yellow;
}
a:active{
    color: black;
}
a:visited{
    color: green;
}