body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Ubuntu, sans-serif;
}
div.message {
    margin: 10px;
    padding: 5px;
    border: 1px solid lightgray;
    border-radius: 5px;
}
div.message-info {
    background-color: #cddeff;
    color: #463f9e;
}
div.message-success{
    background-color: #cff3da;
    color: #1b6f3b;
}
div.message-warning{
    background-color: #fcfbc9;
    color: #8f7c21;
}
div.message-error{
    background-color: #fad3d7;
    color: #7c0e28;
}